venv/
__pycache__/
*.pyc
.env
.DS_Store
.vs/
*.log
data/mykey
data/mykey.pub
app_log.log
.streamlit/secrets.toml
.streamlit/
*.toml
Buildings.xlsx
user_interactions.db
floors_occupancy.xlsx"data/floors_utilization_2024.csv" 
